/*  Author: Paige Jones
    Designed For: Dream Day 2024 */

/* Define custom fonts for website text */
@font-face {
    font-family: 'Wizard';
    src: url('../fonts/Wizard.ttf') format('truetype');
}

@font-face {
    font-family: 'Magic';
    src: url('../fonts/Magic.otf') format('opentype');
}

/* Apply custom wizard font to text */
.wizard-font {
    font-family: 'Wizard', sans-serif;
    font-size: 100px;
}

/* Apply custom magic font to text */
.magic-font {
    font-family: 'Magic', sans-serif;
    font-size: 25px;
}

/* Set text color to white */
.text-color {
    color: white;
}