/*  Author: Paige Jones
    Designed For: Dream Day 2024 */

/* Define custom fonts for website text */
@font-face {
    font-family: 'Wizard';
    src: url('fonts/Wizard.ttf') format('truetype');
}

@font-face {
    font-family: 'Magic';
    src: url('fonts/Magic.otf') format('opentype');
}

/* Apply custom wizard font to text */
.wizard-font {
    font-family: 'Wizard', sans-serif;
    font-size: 100px;
}

/* Apply custom magic font to text */
.magic-font {
    font-family: 'Magic', sans-serif;
    font-size: 25px;
}

/* Set text color to white */
.text-color {
    color: white;
}

/* Body styles. This affects everything in the HTML body tag. */
body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* Allow vertical scrolling if content exceeds viewport */
    position: relative;
    /* Sets the background image for the entire website */
    background-image: url('images/background.png');
    background-size: cover;
}

/* Background overlay styles. This positions the background image. */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Styles for the home page image */
.home-image {
    width: 100%;
    /* Adjust the width as needed */
    max-width: 200px;
}

/* Adds more space between each HTML section */
.section-margins {
    margin-top: 150px
}

/* Styles for the wizard themed cards */
.custom-cards {
    margin-bottom: 20px;
    height: 100%;
    display: flex;
     /* Sets the background color of the card */
    background-color: #222;
    /* Sets the color of the card description text */
    color: white;
    /* Align card items vertically */
    flex-direction: column;
 
}

/* Card Title Color */
.custom-cards .card-title {
    color: #ffc107;
}

/* Card Button Color */
/* Card Button Border Color */
.custom-cards .btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
}

/* Sets the shade for the card button hover effect */
.custom-cards .btn-primary:hover {
    background-color: #ffcd38;
    border-color: #ffcd38;
}

/* Make the card body take up remaining space */
.card-body {
    flex: 1;
}

/* Set the height of the image */
/* Fit the entire image within the container */
.card-image-top {
    height: 200px;
    object-fit: contain;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.wand {
    animation: wandAnimation 5s ease 2s 1 normal forwards;
    animation-iteration-count: infinite;
}

@keyframes wandAnimation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-5px) rotate(-4deg);
	}

	40% {
		transform: translateX(5px) rotate(12deg);
	}

	75% {
		transform: translateX(-6px) rotate(-3deg);
	}
}

.potion {
    animation: potionAnimation 5s ease-in-out 0s infinite normal forwards;
}

@keyframes potionAnimation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

.quidditch {
    animation: quidditchAnimation 1s ease-in 0s infinite normal forwards;
}

@keyframes quidditchAnimation {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(4px, -4px);
	}

	40% {
		transform: translate(4px, 4px);
	}

	60% {
		transform: translate(-4px, 4px);
	}

	80% {
		transform: translate(-4px, -4px);
	}

	100% {
		transform: translate(0);
	}
}